---
import type { Pokemon, PokemonSpecies } from 'pokedex-promise-v2'

import TypeIcon from '@/components/TypeIcon.astro'
import { toHref } from '@/lib/utils/path'
import { getTranslation, type TypeKey } from '@/lib/utils/pokeapi-helpers'

interface Props {
  species: PokemonSpecies
  pokemon: Pokemon
  current?: boolean
}

const { species, pokemon, current = false } = Astro.props
const name = getTranslation(species.names, 'name')
const imageId = species.id.toString().padStart(4, '0')
const imageUrl = `https://raw.githubusercontent.com/blai30/PokemonSpritesDump/refs/heads/main/sprites/sprite_${imageId}_s0.webp`
---

<div
  class:list={[
    'rounded-xl backdrop-blur-xl transition-colors w-36',
    current
      ? 'bg-inherit inset-ring-2 inset-ring-zinc-700 dark:inset-ring-zinc-300'
      : 'bg-zinc-100/50 inset-ring-1 inset-ring-zinc-200/50 hover:bg-zinc-200/60 hover:inset-ring-zinc-300/60 hover:duration-0 dark:bg-zinc-900/50 dark:inset-ring-zinc-800/50 dark:hover:bg-zinc-800/60 dark:hover:inset-ring-zinc-700/60',
  ]}
>
  <a href={toHref(species.name)} class="group flex flex-col items-center gap-3 px-4 py-4">
    <img src={imageUrl} alt={name} width={80} height={80} class="size-20 object-contain" />
    <h3 class="text-center text-base font-medium text-zinc-700 dark:text-zinc-300">{name}</h3>
    <div class="flex flex-row gap-1">
      {pokemon.types.map((type) => <TypeIcon variant={type.type.name as TypeKey} size="medium" />)}
    </div>
  </a>
</div>
