---
import { cva } from 'cva'

import { TypeKey, TypeLabels } from '@/lib/utils/pokeapi-helpers'

const variants = cva({
  base: 'flex flex-row items-center',
  variants: {
    variant: {
      [TypeKey.Normal]: 'bg-normal',
      [TypeKey.Fighting]: 'bg-fighting',
      [TypeKey.Flying]: 'bg-flying',
      [TypeKey.Poison]: 'bg-poison',
      [TypeKey.Ground]: 'bg-ground',
      [TypeKey.Rock]: 'bg-rock',
      [TypeKey.Bug]: 'bg-bug',
      [TypeKey.Ghost]: 'bg-ghost',
      [TypeKey.Steel]: 'bg-steel',
      [TypeKey.Fire]: 'bg-fire',
      [TypeKey.Water]: 'bg-water',
      [TypeKey.Grass]: 'bg-grass',
      [TypeKey.Electric]: 'bg-electric',
      [TypeKey.Psychic]: 'bg-psychic',
      [TypeKey.Ice]: 'bg-ice',
      [TypeKey.Dragon]: 'bg-dragon',
      [TypeKey.Dark]: 'bg-dark',
      [TypeKey.Fairy]: 'bg-fairy',
    },
    size: {
      small: 'w-24 gap-1.5 rounded-xs text-xs font-normal tracking-tight',
      medium: 'w-28 gap-2 rounded-sm p-0.5 text-xs font-semibold tracking-wide',
      large: 'w-32 gap-2.5 rounded-md p-1 text-sm font-semibold tracking-wider',
    },
  },
})

interface Props {
  variant: string
  size?: 'small' | 'medium' | 'large'
  class?: string
}

const { variant, size = 'large', class: className } = Astro.props
const name = TypeLabels[variant as TypeKey]
const imageUrl = `${variant}.png`
const dimensions = { small: 20, medium: 24, large: 28 }
---

<div class:list={[variants({ size }), 'bg-zinc-200 dark:bg-zinc-800', className]}>
  <img
    src={imageUrl}
    alt={name}
    width={dimensions[size]}
    height={dimensions[size]}
    class:list={[variants({ variant: variant as TypeKey }), 'aspect-square rounded-xs object-contain']}
  />
  <p class="items-center text-black uppercase dark:text-white">{name}</p>
</div>
