---
import { cva } from 'cva'

import { TYPES, type TypeKey } from '@/lib/domain/types'

const variants = cva({
  base: 'flex flex-row items-center',
  variants: {
    size: {
      small: 'w-24 gap-1.5 rounded-xs text-xs font-normal tracking-tight',
      medium: 'w-28 gap-2 rounded-sm p-0.5 text-xs font-semibold tracking-wide',
      large: 'w-32 gap-2.5 rounded-md p-1 text-sm font-semibold tracking-wider',
    },
  },
})

interface Props {
  variant: string
  size?: 'small' | 'medium' | 'large'
  class?: string
}

const { variant, size = 'large', class: className } = Astro.props
const name = TYPES[variant as TypeKey]
const imageUrl = `${variant}.png`
const dimensions = { small: 20, medium: 24, large: 28 }
---

<div class:list={[variants({ size }), 'bg-zinc-200 dark:bg-zinc-800', className]}>
  <img
    src={imageUrl}
    alt={name}
    width={dimensions[size]}
    height={dimensions[size]}
    class:list={[`bg-${variant}`, 'aspect-square rounded-xs object-contain']}
  />
  <p class="items-center text-black uppercase dark:text-white">{name}</p>
</div>
